<html>

    <head>

        <meta charset="UTF-8">

        <title>上传文件</title>

        <link rel="stylesheet" type="text/css" href="css/common.css">

    </head>

    <body>

        <div class="container">

            <div>
                <a class="circlebutton listbutton" href="list">查看列表</a>
            </div>

            <form class="createform" action="upload" enctype="multipart/form-data" method="post">

                <div class="inputfile">选择一个文件
                    <input type="file" name="file">
                </div>

                <div class="inputsubmit">立即提交
                    <button type="submit" name="提交文件"></button>
                </div>

            </form>

        </div>

    </body>

</html>